@import "./default.css";

.city-inputs {
  margin-left: 63px;
  margin-right: 21px;
}

.select-holder {
  margin-left: 64px;
  margin-right: 0;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  color: var(--font-input-dark);
  padding-left: 10px;
}

nav {
  font-size: 16px;
}

.input-phone {
  width: 120%;
  margin-left: 19px;
}

.input-label {
  width: 57%;
  height: 65px;
  margin-right: 20px;
  font-family: var();
  font-weight: 400;
  font-size: 16px;
  color: var(--font-input-normal);
  padding-left: 10px;
}

.input-address {
  margin-left: 23px;
}

.input-email {
  margin-left: 18px;
  margin-right: 18px;
}

form i {
  margin-left: 20px;
  color: grey;
  font-size: 19px;
}
form img {
  margin-left: 20px;
}

.input-zip {
  margin-left: 0;
}
